.product-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  &__img {
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #ddd;

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__details {
    flex: 1 1 auto;
    flex-direction: column;

    &__name {
      margin: 1rem 0 0.4rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: $somjira-blue;
    }

    &__technical {
      margin-top: 1rem;

      em {
        font-size: 1.2rem;
      }

      ul,
      p {
        margin-top: 0.2rem;
      }
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;

    &__img {
      flex-basis: 30%;
    }

    &__details {
      flex-basis: 70%;
      padding: 0 0 0 2rem;

      &__name {
        margin: 0 0 1.4rem;
      }
    }
  }
}
